.ipadxsection{
  margin-top: 20px;
}
.ipadxheadbox img {
  width: 100%;
}
.ipadxbox{

}
ul li{
  display: inline;
}
#price tr{
  border: none;
}
#price tr td{
  padding: 0;
}
#price tr td h5{
  font-weight: bold;
}
#price tr td h5, #price tr td h6{
  margin-top: 4px;
  margin-bottom: 4px;
}
.linija{
  margin-left: 38px;
  margin-right: 38px;
  margin-top: 80px;
  margin-bottom: 60px;
  border: 0.5px solid silver;
  box-shadow: 0 0 0.5px silver;
}
#pakeistiteksta{
  margin-bottom: 40px;
}
#footerline{
  margin-bottom: 100px;
  border: 0px;
}
p{
  margin-bottom: 40px;
}
