.brand-logo {
  margin-left: 6px;
}
.page-footer {
  background-color: rgb(239, 239, 239);
  color: black;
}
.nav-wrapper {
  background-color: #0A0A0A;
}
[class^="section"]{
  cursor: pointer;
}

.section {
  background-color: rgb(250, 250, 250);
}
.section1 {
  background-color: rgb(245, 245, 245);
}
.section2_1 {
  width: 100%;
  text-align: center;
}
.section2_1 img {
  width: 100%;
}

.box img {
  width: 100%;
}
.boxappeariphone{
  text-align: center;
}
.boxappeariphone img {
  width: 200px;
}
.boxappearipad {
  text-align: center;
  margin: auto;
}
.boxappearipad {
  width: 400px;
}

.boxsection2_1 {
}
.boxsection3_1 img{
  width: 100%;
}

.headbox {
  text-align: center;
}
.headbox h3 {
  font-weight: bold;
}
.headboxtwo {
  width: 20
}

#cursorhover li a:hover {
  color: #B9B9B9;
}
li a h5 {
  color: black;
}
li a h5:hover {
  color: #317DFA;
}

iframe {
  width: 100%;
  height: 400px;
  box-shadow: 0 0 5px silver;
}
.containeris {
  color: black;
  margin-left: 20px;
}
.specialus {
  width: 100%;
  height: 6px;
}

@media screen and (max-width: 600px) {
  .box img {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .boxappeariphone img, .boxappearipad img{
    display: none;
  }
}
